<div class="topcards-grid">
  @for (card of cards; track card.label) {
    <div class="card">
      <div class="card-top">
        <div class="icon" [ngStyle]="{ background: card.iconBg }" [class.total-tickets-icon]="card.label === 'Total tickets'" [class.cooking-icon]="card.label === 'Cooking'" [class.ready-icon]="card.label === 'Ready'" [class.overdue-icon]="card.label === 'Overdue'">
          <img [src]="card.icon" alt="" />
        </div>
        <div class="card-content">
          <div class="title">{{ card.label | translate }}</div>
          <div class="value-row">
            <div class="value">{{ card.value }}</div>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="bottom-row">
        <div class="note">{{ card.comparisonText | translate }}</div>
        <div class="delta" [ngClass]="card.isPositive ? 'positive' : 'negative'">{{ card.percentage }}</div>
      </div>
    </div>
  }
</div>
