<div class="order-item">
  <img class="thumb" [src]="image || '/images/placeholder.png'" [alt]="title" />
  <div class="right-content">
    <div class="top-section">
      <div class="info">
        <div class="title">{{ title }}</div>
        <div class="price-row">
          <div class="price">{{ price | currency:'USD':'symbol':'1.2-2' }}</div>
         
        </div>
      </div>
      <button class="trash" (click)="remove.emit()" type="button"><img src="/icons/delete.svg" alt="trash" srcset=""></button>
    </div>
    <div class="bottom-section">
      <button class="edit-btn" type="button"><img src="/icons/pen.svg" alt="edit" srcset=""></button>
    <div class="qty">
      <button class="qty-btn minus" (click)="decrement.emit()">−</button>
        <span>{{ quantity }}</span>
        <button class="qty-btn plus" (click)="increment.emit()">+</button>
      </div>  
    </div>
  </div>
</div>

