<button
  [type]="type()"
  [disabled]="disabled() || loading()"
  [ngClass]="buttonClasses()"
  [ngStyle]="buttonStyles()"
  (click)="onClick($event)"
>
  @if (loading()) {
    <span class="btn-spinner"></span>
  }
  @if (icon() && iconPosition() === 'left' && !loading()) {
    <span class="btn-icon btn-icon-left" [innerHTML]="icon()"></span>
  }
  <span class="btn-content">
    <ng-content></ng-content>
  </span>
  @if (icon() && iconPosition() === 'right' && !loading()) {
    <span class="btn-icon btn-icon-right" [innerHTML]="icon()"></span>
  }
</button>

