<div
  class="table-wrapper"
  [class.vertical]="orientation === 'vertical'"
  [class.horizontal]="orientation === 'horizontal'"
  [style.--table-length]="tableLength + 'px'"
  [style.--table-thickness]="tableThickness + 'px'"
>
  <div class="chairs left" *ngIf="chairGroups.left.length">
    <button
      type="button"
      class="chair left"
      *ngFor="let chair of chairGroups.left; trackBy: trackByChairId"
      (click)="handleChairClick(chair)"
    >
      <span class="chair-index">{{ chair.position }}</span>
    </button>
  </div>

  <div class="chairs top" *ngIf="chairGroups.top.length">
    <button
      type="button"
      class="chair top"
      *ngFor="let chair of chairGroups.top; trackBy: trackByChairId"
      (click)="handleChairClick(chair)"
    >
      <span class="chair-index">{{ chair.position }}</span>
    </button>
  </div>

  <div class="table-body">
    <span class="table-label">{{ tableLabel }}</span>
  </div>

  <div class="chairs right" *ngIf="chairGroups.right.length">
    <button
      type="button"
      class="chair right"
      *ngFor="let chair of chairGroups.right; trackBy: trackByChairId"
      (click)="handleChairClick(chair)"
    >
      <span class="chair-index">{{ chair.position }}</span>
    </button>
  </div>

  <div class="chairs bottom" *ngIf="chairGroups.bottom.length">
    <button
      type="button"
      class="chair bottom"
      *ngFor="let chair of chairGroups.bottom; trackBy: trackByChairId"
      (click)="handleChairClick(chair)"
    >
      <span class="chair-index">{{ chair.position }}</span>
    </button>
  </div>
</div>

<div class="info-box" *ngIf="infoText">
  {{ infoText }}
</div>
