<div class="modal-overlay" (click)="onCancel()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="onCancel()" type="button">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>

    <h2 class="modal-title">{{ 'Unsynced changes' | translate }}</h2>
    <p class="modal-message">
      {{ 'You have changes not sent to kitchen. Switch table anyway?' | translate }}
    </p>

    <div class="modal-actions">
      <button 
        class="btn-cancel" 
        (click)="onCancel()"
        type="button">
        {{ 'Cancel' | translate }}
      </button>
      <button 
        class="btn-switch" 
        (click)="onSwitch()"
        type="button">
        {{ 'Switch' | translate }}
      </button>
    </div>
  </div>
</div>

