<div class="panel required-ingredients-panel">
  <div class="panel-header">
    <div class="header-left">
      <div class="icon-circle ingredients-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 4C6 3.44772 6.44772 3 7 3H13C13.5523 3 14 3.44772 14 4V6H17C17.5523 6 18 6.44772 18 7V16C18 17.6569 16.6569 19 15 19H5C3.34315 19 2 17.6569 2 16V7C2 6.44772 2.44772 6 3 6H6V4Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M18 10H20C20.5523 10 21 10.4477 21 11V13C21 13.5523 20.5523 14 20 14H18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <div class="header-text">
        <h3 class="panel-title">{{ 'Required Ingredients' | translate }}</h3>
        <p class="panel-subtitle">{{ 'Use of ingredients in Real-time Warehouse' | translate }}</p>
      </div>
    </div>
    <button class="period-button" type="button">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="4" y="4" width="4" height="16" rx="1" fill="#6B7280" />
        <rect x="10" y="8" width="4" height="12" rx="1" fill="#6B7280" />
        <rect x="16" y="6" width="4" height="14" rx="1" fill="#6B7280" />
      </svg>
      <span>{{ selectedSort }}</span>
    </button>
  </div>

  <div class="ingredients-list">
    <div class="ingredient-item" *ngFor="let ingredient of ingredients">
      <div class="ingredient-image">
        <img [src]="ingredient.image" [alt]="ingredient.name" />
      </div>
      <div class="ingredient-details">
        <div class="ingredient-name">{{ ingredient.name }}</div>
        <div class="ingredient-meta">
          <span class="ingredient-stock-text">{{ ingredient.currentStock }}</span>
          <span class="ingredient-tag">{{ ingredient.usageTag }}</span>
        </div>
      </div>
      <div class="ingredient-required">
        {{ ingredient.requiredQuantity }}
      </div>
    </div>
  </div>
</div>

