<div class="panel general-sales-panel">
  <div class="panel-header">
    <div class="header-left">
      <div class="icon-circle sales-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 4L4 8L8 12M16 4L20 8L16 12M12 4L12 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <div class="header-text">
        <h3 class="panel-title">{{ 'General Sales' | translate }}</h3>
        <p class="panel-subtitle">{{ 'Numbers of Sales Quarterly' | translate }}</p>
      </div>
    </div>
    <button class="period-button" type="button">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" y="5" width="18" height="16" rx="2" stroke="#6B7280" stroke-width="1.5" />
        <path d="M16 3v4M8 3v4M3 10h18" stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" />
      </svg>
      <span>{{ selectedPeriod }}</span>
      <img class="chevron" src="/icons/chevron-down.svg" alt="" />
    </button>
  </div>

  <div class="sales-stats">
    <div class="sales-stat-item">
      <span class="sales-stat-indicator total"></span>
      <div class="sales-stat-content">
        <span class="sales-stat-label">{{ 'Total Sales' | translate }}</span>
        <span class="sales-stat-value">{{ totalSales }}</span>
      </div>
    </div>
    <div class="sales-stat-item">
      <span class="sales-stat-indicator average"></span>
      <div class="sales-stat-content">
        <span class="sales-stat-label">{{ 'Average Sale' | translate }}</span>
        <span class="sales-stat-value">{{ averageSale }}</span>
      </div>
    </div>
  </div>

  <div class="line-chart-wrapper">
    <apx-chart
      #lineChart
      [series]="lineChartOptions.series"
      [chart]="lineChartOptions.chart"
      [xaxis]="lineChartOptions.xaxis"
      [yaxis]="lineChartOptions.yaxis"
      [grid]="lineChartOptions.grid"
      [markers]="lineChartOptions.markers"
      [tooltip]="lineChartOptions.tooltip"
      [fill]="lineChartOptions.fill"
      [colors]="lineChartOptions.colors"
      [stroke]="lineChartOptions.stroke"
    ></apx-chart>
  </div>
</div>
