<div class="table-list">
    <button
        *ngFor="let table of tables"
        class="table-pill"
        [class.active]="activeTable === table.id"
        [class.color-blue]="getTableColor(table) === 'blue'"
        [class.color-green]="getTableColor(table) === 'green'"
        [class.color-orange]="getTableColor(table) === 'orange'"
        [class.color-pink]="getTableColor(table) === 'pink'"
        [class.color-purple]="getTableColor(table) === 'purple'"
        (click)="selectTable(table.id)"
        type="button">
        <div class="table-icon has-icon" *ngIf="getTableIcon(table)">
            <img [src]="getTableIcon(table)" [alt]="'Table ' + table.number" />
        </div>
        <div class="table-info">
            <span class="table-number">{{ 'Table' | translate }} {{ table.number
                }}</span>
            <span class="table-separator">•</span>
            <span class="table-clients">{{ table.clients }} {{ 'clients' |
                translate }}</span>
        </div>
    </button>
</div>
